@charset "utf-8";

/* Reset */

*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  font-size: 10px;
	font-family: "Noto Sans KR", sans-serif;
	/* font-family: "Pretendard", "Noto Sans KR", sans-serif; */
	overflow-x: hidden;

}
body {
	line-height: 1;  
}
a {
  text-decoration: none;
}
img, video, iframe {
  display: block;
}
input, textarea, select, button {
  outline: none;border: none;
}
button {
  background: none;cursor: pointer;
}
ol, ul, li {
  list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Header */


.container {
	margin: 0 13rem;
}

.mo {

	display: none;
}

.blind {
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

hgroup h2 {
	font-size: 5.6rem;
	font-weight: bold;
	text-align: center;
}
hgroup p {
	font-size: 3.2rem;
	font-weight: bold;
	text-align: center;
	margin-top: 2.7rem;
}
.esg_card {
	display: flex;
	justify-content: center;
	gap: 5rem;
	margin-top: 5rem;
}

.flip_card {

	width: 50rem;
	height: 50rem;
 background-color: transparent;
	perspective: 1000px;
}
.flip_card_inner {

	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style:preserve-3d;
}
.flip_card:hover .flip_card_inner {
	transform: rotateY(180deg)
}
.flip_card_front, .flip_card_back {

	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.flip_card_front {
	
	/* background-color: #bbb; */
	color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.esg_front01 {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(/images/esg01.jpg) no-repeat center;
	background-size: cover;
}
.esg_front02 {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(/images/esg02.jpg) no-repeat center;
	background-size: cover;
}
.esg_front03 {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(/images/esg03.jpg) no-repeat center;
	background-size: cover;
}
.flip_card_front p {
	font-size: 4.2rem;
	font-weight: bold;
}

.flip_card_back {
	background-color: rgb(231, 152, 62);
	color: white;
	transform: rotateY(180deg);
	display: flex;
	justify-content: center;
	align-items: center;	
	
}

.flip_card_back p {
	font-size: 2rem;
	line-height: 1.7;
}




/* Footer */
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #000;
	color: #eee;
	
	padding: 3.7rem 13rem;
	position: relative;
	
}

.pclogo {
	position: absolute;
	width: 8.2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: auto;
}
.mologo {
	display: none;
	width: 8.2rem;
}
footer .corp_info {
	font-size: 1.5rem;
	line-height: 1.7;
	padding: 3rem 0rem 3rem 0rem;
}
footer .footer_sns {
	font-size: 3rem;
	display: flex;
	gap: 2rem;
	padding: 3rem 0 3rem 0;
}
@media (max-width:1660px) {
	.pclogo {
		display: none;
	}
	.mologo {
		display: block;
	}
}
@media (max-width:1440px) {
	
}
@media (max-width:768px) {
	footer {		
		/* padding: 3.7rem 3rem; */
	}		
	footer {
		gap: 1rem;
		flex-direction: column;
		padding: 0 1rem;
		justify-content: flex-start;
	}
}
@media (max-width:500px) {
	footer .corp_info {	
		padding: 3rem 2rem 3rem 2rem;
}
	
.mo {
	display: block;
}

}