@charset "utf-8";

/* Reset */

*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  font-size: 10px;
	/* font-family: "Noto Sans KR", sans-serif; */
	font-family: "Pretendard", "Noto Sans KR", sans-serif;
	overflow-x: hidden;
	color: #212121;
	background: #FFF;
}
body {
	line-height: 1;
	font-size: 1.8rem;
}
a {
  text-decoration: none;
}
img, video, iframe {
  display: block;
}
img {
	width: 100%;height: 100%;object-fit: cover;
}
input, textarea, select, button {
  outline: none;border: none;
}
button {
  background: none;cursor: pointer;
	border: none;
}
ol, ul, li {
  list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
	/* margin: 0 13rem; */
	max-width: 1660px;width: 90%;margin: auto;
}
.mo {

	display: none;
}
.pcmo {

	display: block;
}

.blind {
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
hgroup {
	margin-bottom: 5.5rem;
}
hgroup h2 {
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
}
hgroup p {
	font-size: 2.6rem;
	font-weight: 500;
	text-align: center;
	margin-top: 2.2rem;
	color: #686868;
}
section {
	padding: 12rem 0;
}



/* Header */
header {
	height: 9rem;
	/* background: rgba(0, 0, 0, 0.5); */
	position: fixed;
	z-index: 9000;
	left: 0;
	right: 0;
	color: #fff;
}
header.scroll {
	background: #FFF;
	color: #000;
	
}
header.scroll::after {
	content: '';
	width: 100%;height: 1px;background: rgba(0,0,0,.2);
	position: absolute;left: 0;bottom: 0;opacity: 1;
	border-bottom: 1px solid #555;
}
header h1 {
	position: absolute;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
}
header h1 a {
	display: block;
	width: 13rem;
	aspect-ratio: 1 / 0.3473;
	background: url(../images/logo.svg) no-repeat;	
	background-position: left top;
	background-size: cover;
}

.header_on {
	background: #fff; color: #000;
	/* border-bottom: 1px solid #000; */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



/* GNB */
#gnb .dep1 {
	display: flex;
	justify-content: center;
	gap: 7.2rem;
	height: 9rem;
	overflow: hidden;
	transition: all 0.5s;
	
}
#gnb .dep1:hover {
	background: #FFF;
	height: 300px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#gnb .dep1>li {
	display: flex;flex-direction: column;
	align-items: flex-start;
}
#gnb .dep1>li>a {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	position: relative;
	height: 9rem;
	font-size: 2rem;
	font-weight: 600;
}
#gnb .dep1>li>a::after {
	content:"";
	position: absolute;bottom: 0;
	width: 100%;height: 3px;
	background: red;
	transform: scale(0);
	transition: transform 0.3s;
}
#gnb .dep1>li>a:hover::after {
	transform: scale(1);
}
#gnb .dep2 {
	display: flex;flex-direction: column;gap: 1.6rem;
	padding: 2rem 0;
	color: #555;opacity: 0;
	transition: opacity 0.5s;
	border-bottom: #555;
}
#gnb .dep1:hover .dep2 {
	opacity: 1;
}
#gnb .dep2>li {}



/* header-util */
.header_util {
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	gap: 2.4rem;
	font-size: 2rem;
}
.header_util .lang_wrap {
}
.header_util .lang_wrap button {
	display: block;height: 100%;
}
.header_util .lang_wrap ul {
	display: none;
	position: absolute;
	padding: 0.5rem;background: #dcd6d6;
}
.header_util .lang_wrap ul.active {
	display: flex;
	flex-direction: column;
	
	border-radius: 10px;
}
.header_util .lang_wrap button i.active {
	transform: rotate(180deg);
	border: 1px solid red;
}
header .allmenu_popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgb(231, 152, 62);	
}
.allmenu_popup .dep1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: flex-start;
	gap: 13rem;
	font-size: 2rem;
}
.allmenu_popup .dep1 li {
	flex-grow: 1;
	min-width: 12rem;
}
.allmenu_popup .dep1>li>a {
	
	font-size: 2.5rem;
	font-weight: bold;

}
.allmenu_popup .dep2 {
	font-size: 1.5rem; 
	padding: 2rem 1rem 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1rem;
}
.allmenu_popup .dep2>li>a {
	font-size: 2.2rem;
	/* font-weight: bold; */
}
.allmenu_close_btn {
	position: absolute;
	top: 3.5rem;
	right: 13rem;;
}
/* Footer */
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #000;
	color: #eee;
	
	padding: 3.7rem 13rem;
	position: relative;
	
}
.pclogo {
	position: absolute;
	width: 8.2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: auto;
	height: auto;
}
footer .corp_info {
	font-size: 1.5rem;
	line-height: 1.7;
	padding: 3rem 0rem 3rem 0rem;
}
footer .footer_sns {
	font-size: 3rem;
	display: flex;
	gap: 2rem;
	padding: 3rem 0 3rem 0;
}


/* Main */
.main_visual {
	overflow: hidden;
	height: 100vh;
}
.main_visual video {
	width: 100%;
}
.main_visual>p {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-40%);
	font-size: 7rem;
	font-weight: bold;
	color: #eee;
}

/*** Product*/

.product_swiper .swiper-slide {
	cursor: pointer;
}
.product_swiper {
	position: relative;
	width: 80%;height: auto;
}
.product_swiper li {
	display: flex;
}
.product_swiper .product_txt {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 8rem;
	width: 50%;
}
.product_swiper  .product_txt strong {
	font-size: 4rem;	
	font-weight: bold;	
}
.product_swiper .product_txt p {
	padding: 2.5rem 0 4.5rem;
	font-size: 2.2rem;
	line-height: 1.3em;
}
.product_swiper .product_img {
	width: 50%;
	display: flex;justify-content: center;
	align-items: center;
}
.product_swiper .product_img img {
}
.pri_btn {
	width: 12rem;
	text-align: center;
	padding: 0.8rem;
	border: 1.5px solid #000;
	border-radius: 20px;	
	font-weight: bold;
	color: #000;
	display: flex;
    justify-content: center;
    align-items: center;
}
.sec_btn {
	width: 12rem;
	text-align: center;
	padding: 0.8rem;
	border: 1px solid #000;
	color: #000;
	display: inline-flex;
    justify-content: center;
    align-items: center;
}
.pri_btn::after {
	content:'\EA6C';font-size: 18px;
	font-family: remixicon;

}
.sec_btn::after {
	content:'\EA13';font-size: 18px;
	font-family: remixicon;

}

.product_swiper_controls {
	position: absolute;
	/* top: 50%; */
	bottom: 5rem;
	left: 8rem;
	display: flex;gap: 3rem;
	/* justify-content: center; */
	align-items: center;
	
}
.product_swiper_controls>div {
	position: static;
	display: block;
	margin: 0;
	width: auto;height: auto;
}
.swiper-button-prev::after {
	content:'\EA64';font-size: 30px;
	font-family: remixicon;
	color: #000;
}
.swiper-button-next::after {
	content:'\EA6E';font-size: 30px;
	font-family: remixicon;
	color: #000;
}
.swiper-pagination-fraction {
	bottom: -8.5px;
	/* top: var(--swiper-pagination-top, auto); */
	left: 0;
	width: 100%;
}
/*** ESG */
.esg_card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 7rem;
}
.flip_card {
	width: 50rem;
	height: 50rem;
 	background-color: transparent;
	perspective: 1000px;	
}
.flip_card_inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style:preserve-3d;
}
.flip_card:hover .flip_card_inner {
	transform: rotateY(180deg)
}
.flip_card_front, .flip_card_back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;	
	overflow: hidden;
	border-radius: 20px;
}
.flip_card_front {
	color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.esg_front01 {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/esg01.jpg) no-repeat center;
	background-size: cover;
}
.esg_front02 {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/esg02.jpg) no-repeat center;
	background-size: cover;
}
.esg_front03 {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../images/esg03.jpg) no-repeat center;
	background-size: cover;
}
.flip_card_front p {
	font-size: 4.2rem;
	font-weight: bold;
}
.flip_card_back {
	background-color: rgb(231, 152, 62);
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	}
.flip_card_back strong {
	font-size: 3.8rem;
	font-weight: 600;
}
.flip_card_back p {
	font-size: 2rem;
	line-height: 1.7;
}

/* News */

.news_wrap ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;

}
.news_wrap ul li {	
	width: 32%;
	/* max-height: 35rem; */
	border-radius: 10px;
	border: 1px solid #f5f1f1;
	overflow: hidden;
}
.news_wrap ul li div {
	display: flex;
	flex-direction: column;
}
.news_wrap ul li div strong {
	font-size: 2rem;
	font-weight: bold;
	padding: 2rem 1rem 1rem 1rem;
}
.news_wrap ul li div p {	
	padding: 1rem;
}
.news_wrap ul li div span {	
	padding: 1rem;
}
.news_wrap .thumb_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news_wrap .btn_wrap {
	margin-top: 7rem;
	text-align: center;
}

/* SNS */
.sns_swiper .swiper-slide {
	padding: 2rem;
	cursor: pointer;
}

/* Etc */
.etc .etc_tabs .tabs {
	display: flex;
	gap: 2rem;
	justify-content: center;
}
.etc .etc_tabs .tabs>li {
	padding: 1.2rem;
	border-radius: 10px;
	background: dodgerblue;
	color: #eee;
	cursor: pointer;
	font-size: 2rem;
}
.etc .etc_tabs ul.tabs li.active {
	background: #eee;
	color: dodgerblue;
	text-decoration: underline dodgerblue 0.3rem;
	text-underline-offset: 1rem;
	font-weight: bold;
}

.etc_contents .contbox{
	display: none;
}
.etc_contents .contboxon{
	display: block;
}
.etc_contents .contbox ul {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.4rem;
}
.etc_contents .contbox ul li {
	width: 20%;	
}
.etc_contents .contbox ul li div a img {
	width: 100%;
	object-fit: cover;
}
/* Job */
.company {
	padding: 6rem 0 0 0 ;
	color: #eee;
}
.company .job {
	
	width: 100%;
	height: 40rem;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/recruit.jpg) no-repeat center;
	background-size: cover;	
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	gap: 2rem;
	
}
.job p {
	font-size: 1.8rem;
	font-weight: bold;
}
.job h2 {
	font-size: 4.2rem;
	font-weight: bold;
}
.job .pri_btn {
	border: 1px solid #eee;
	color: #eee;
}




/***** RWD ********************************/
@media (max-width:1660px) {
	/* header */
	
	/* Main */
	.main_visual {
		height: 80vh;
	}
	.main_visual video {
		/* height: 100%;width: auto; */
	}
}
@media (max-width:1440px) {
	/* header */
	.product_swiper {
		width: 100%;
	}
	
	/* Main */
	.main_visual video {
		height: 100%;width: auto;
	}
	.main_visual>p {
    font-size: 6rem;
}
}
@media (max-width:1280px) {
	/* Default */
	html {font-size: 9px;}
	/* header */
	#gnb {
		display: none;
	}
	.allmenu_popup .dep1 {
    gap: 8rem;
	}
	/* footer */
	/* main */	
	.product_txt {
		/* display: none !important; */
	}
	.news_wrap ul li {
    width: 100%;
	}
	.etc_contents .contbox ul li {
		width: 33.3%;
}
}
@media screen and (max-width: 1024px) {
	.allmenu_popup .dep1 {
    gap: 2rem;
	}
	/* footer */
	footer {
		flex-direction: column-reverse;
		align-items: flex-end;
		padding: 3rem 4rem 3rem;
	}
	footer .corp_info {	
		width: 100%;
	}
	footer .footer_sns {
		padding: 0;
	}
	.pclogo {
		top: 3rem;left: 4rem;
		transform: translate(0, 0);
	}
	.pcmo {
		display: none;
	}
	
}
@media screen and  (max-width:768px) {
	/* header */
	.allmenu_popup .dep1 {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 4rem;
		font-size: 1rem;
		color: #fff;
	}
	.allmenu_popup .dep1 {
		gap: 1.5rem;
		flex-wrap: wrap;
}
	/* footer */

	.product_swiper {padding-bottom: 7rem;}
	.product_swiper li {
		flex-direction: column;
	}
	.product_swiper .product_txt {
		width: 100%;padding: 5rem 3rem;
	}
	.product_swiper .product_txt br {display: none;}
	.product_swiper .product_img {width: auto;}
	
	.product_swiper_controls {
		left: 50%;transform:  translateX(-50%);
		bottom: 0;
		font-size: 2rem;
	}
	.etc_contents .contbox ul li {
		width: 50%;	
	}
}
@media screen and  (max-width:500px) { /*430*/
	/* Default */
	html {font-size: 8px;}
	body {font-size: 1.5rem;}
	
	.pcmo {
		display: block;
	}
	.mo {
		display: block;
	}
	.main_visual>p {
		font-size: 5rem;
	}
	.news_wrap ul {
		gap: 10rem;
	}
	/* Header */
	header h1 {    
    left: 3.5rem;
	}
	.header_util {
		right: 3.5rem;
	}
	.header_on {
		background: #fff; color: #222;
	}
	.allmenu_close_btn {
		right: 3.5rem;
		color: #fff;
	}
	.allmenu_popup .dep1 {		
		gap: 5rem;
		flex-wrap: wrap;
	}
	.allmenu_popup .dep1 li {
		flex-grow: 1;
		min-width: 10rem;
	}

	/* Main */
	.main_visual {
		height: 80vh;
	}
	.main_visual video {
		height: 100%;width: auto;
	}

	.job h2 {
		font-size: 3.2rem;
		font-weight: bold;
	}
	.etc_contents .contbox ul {
		display: flex;
		flex-wrap: wrap;
	}
	.etc_contents .contbox ul li {
		width: 50%;
	}
}

